@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      accent: mat.$magenta-palette,
    ),
    typography: Roboto,
  ));
}

/* Tus estilos globales a continuación */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

