.drawer-buscador {
  width: 340px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .rango {
    display: flex;
    gap: 0.5rem;
  }

  button {
    margin-top: 1rem;
    align-self: flex-end;
  }

  .loading {
    text-align: center;
    color: var(--mat-sys-on-surface-variant);
    margin-top: 1rem;
  }
}
