.map-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Marcador tipo chincheta */
:host ::ng-deep .pin-marker {
  --pin-color: #e74c3c;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
  z-index: 600; /* sobre el canvas */
}
:host ::ng-deep .pin-marker::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--pin-color);
  border: 2px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
}
:host ::ng-deep .pin-marker::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0; height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;           /* borde */
  filter: drop-shadow(0 0 2px rgba(0,0,0,.3));
}

/* Popup de MapLibre por encima de los markers */
:host ::ng-deep .maplibregl-popup {
  z-index: 700;
}

.toggle-btn {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1500;
  border: 0;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.map-controls {
  position: absolute;
  left: 12px;
  top:  30px; 
  z-index: 1400;
}
.map-controls .mat-button-toggle .mat-button-toggle-button {
  padding: 6px 10px;
}
.map-controls .mat-button-toggle .mat-button-toggle-label-content {
  display: grid;
  place-items: center;  /* ← centrado perfecto */
  line-height: 0;       /* quita altura de línea que descoloca */
  padding: 0;
}

.map-controls lucide-icon {
  display: block;
  width: 20px;
  height: 20px;
}
.maplibregl-popup.tfg-popup .maplibregl-popup-close-button {
  font-size: 20px;
  line-height: 20px;
  width: 26px;
  height: 26px;
  top: 6px;
  right: 6px;
}

