<div class="map-wrapper">
  <div #mapContainer id="map" class="map-container"></div>

  <!-- Botones flotantes -->
  <div class="map-buttons">
    <button
      mat-fab
      color="primary"
      class="toggle-markers-btn"
      (click)="toggleMarkers()">
      <lucide-icon [name]="mostrarMarkers ? 'eye-off' : 'eye'"></lucide-icon>
    </button>

    <button
      mat-fab
      color="accent"
      class="toggle-zonas-btn"
      (click)="toggleZonas()">
      <lucide-icon [name]="mostrarZonas ? 'layers' : 'layers-2'"></lucide-icon>
    </button>
  </div>
</div>
