<div class="drawer-favoritos">
  <div class="drawer-header">
    <h3>Favoritos</h3>
    <button mat-icon-button (click)="limpiar()" matTooltip="Limpiar lista">
      <lucide-icon name="trash-2"></lucide-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="favoritos.length > 0; else vacio">
    <mat-list-item *ngFor="let prop of favoritos">
      <div class="item-content">
        <div class="info">
          <p class="direccion">{{ prop.address || 'Sin dirección' }}</p>
          <p class="precio">{{ prop.price | number }} €</p>
        </div>
        <button mat-icon-button color="warn" (click)="eliminar(prop)">
          <lucide-icon name="x"></lucide-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>

  <ng-template #vacio>
    <p class="vacio">No hay favoritos guardados</p>
  </ng-template>
</div>
